
@model Finance.Models.ViewModels.JournalViewModel

@{
    ViewBag.Title = "我的記帳本";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Index</h2>*@

@*<div class="well">
        <div class="form-horizontal">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <h4>JournalViewModel</h4>
                    <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.TxnDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TxnDate, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.TxnDate) } })
                        @Html.ValidationMessageFor(model => model.TxnDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TxnType, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("EnumTxnType",
                                        EnumHelper.GetSelectList(typeof(Finance.Models.EnumTxnType)),
                                        "請選擇",
                                        new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TxnType, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.Description) } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TxnAmt, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TxnAmt, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(model => model.TxnAmt) } })
                        @Html.ValidationMessageFor(model => model.TxnAmt, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="送出" class="btn btn-default" />
                    </div>
                </div>
            }
        </div>
    </div>*@

@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@

@*@Html.Action("Create")*@

@using (Ajax.BeginForm("Create", new AjaxOptions
{
    UpdateTargetId = "createPanel"
   
}))
{
    <div id="createPanel">
        @Html.Action("Create")
    </div>
}

@Html.Action("List")


@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}

